* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #181818;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8a8a8a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #e1e1e1;
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-container, .view-container {
    width: 48%;
}

h2 {
    color: #dadada;
    font-size: 24px;
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #717e57;
    border-radius: 4px;
    font-size: 16px;
}

input:focus, select:focus {
    outline: none;
    border-color: #5b6c5a;
}

button.btn {
    width: 100%;
    padding: 10px;
    background-color: #617851;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #829e75;
}

.transactions-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.transaction {
    margin-bottom: 15px;
}

.transaction h3 {
    font-size: 20px;
    color: #cfcfcf;
}

.transaction p {
    margin: 5px 0;
}

.error {
    color: red;
    font-weight: bold;
}

/* Estilo para los botones de acción */
.transaction button {
    background-color: #4CAF50; /* Verde para el botón de Editar */
    color: white; /* Texto blanco */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero */
    margin-right: 5px; /* Espacio entre botones */
    transition: background-color 0.3s; /* Transición suave al cambiar color */
}

.transaction button:hover {
    background-color: #45a049; /* Color más oscuro al pasar el mouse */
}

/* Estilo para el botón de Eliminar */
.transaction button.delete {
    background-color: #f44336; /* Rojo para el botón de Eliminar */
}

.transaction button.delete:hover {
    background-color: #e53935; /* Color más oscuro al pasar el mouse */
}
